COZE_API_TOKEN=pat_xxx
COZE_BOT_ID=7645702499248816168
COZE_API_BASE=https://api.coze.cn
ALLOWED_ORIGIN=https://www.100waytoai.com
ASR_API_URL=http://127.0.0.1:8000/asr
ASR_API_TOKEN=
ASR_MAX_AUDIO_BYTES=26214400
FASTER_WHISPER_MODEL=small
FASTER_WHISPER_DEVICE=auto
FASTER_WHISPER_COMPUTE_TYPE=auto
FASTER_WHISPER_BEAM_SIZE=5
HF_ENDPOINT=https://hf-mirror.com
HF_HUB_DISABLE_XET=1
ASR_MODEL_CACHE_DIR=/opt/100waytoai/asr-model-cache
ASR_DOCKER_NETWORK=100waytoai_webnet
ALIYUN_NLS_APPKEY=your_nls_project_appkey
ALIYUN_NLS_TOKEN=
ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=
ALIYUN_NLS_META_ENDPOINT=https://nls-meta.cn-shanghai.aliyuncs.com
ALIYUN_NLS_WS_ENDPOINT=wss://nls-gateway-cn-shanghai.aliyuncs.com/ws/v1
ALIYUN_NLS_META_REGION=cn-shanghai
ALIYUN_NLS_MAX_SENTENCE_SILENCE=800
ASR_REALTIME_SESSION_DIR=/opt/100waytoai/asr-realtime-sessions
