COZE_API_TOKEN=pat_xxx
COZE_AGENT_PROVIDER=coze_code
COZE_CODE_BASE_URL=https://9x8p8tz864.coze.site
COZE_CODE_PROJECT_ID=7647425305157615662
COZE_BOT_ID=
COZE_API_BASE=https://api.coze.cn
COZE_WORKFLOW_SUMMARY_ID=
COZE_WORKFLOW_QUIZ_ID=
COZE_WORKFLOW_REVIEW_ID=
COZE_WORKFLOW_PARAMETERS_FORMAT=string
ALLOWED_ORIGIN=https://www.100waytoai.com
ASR_PROVIDER=aliyun_fun_asr
ASR_API_URL=http://127.0.0.1:8000/asr
ASR_API_TOKEN=
ASR_MAX_AUDIO_BYTES=26214400
BAIZHI_ASR_MODEL=
DASHSCOPE_API_KEY=sk_xxx
DASHSCOPE_API_BASE=https://dashscope.aliyuncs.com/api/v1
ALIYUN_FUN_ASR_MODEL=fun-asr
ALIYUN_FUN_ASR_DIARIZATION=true
ALIYUN_FUN_ASR_SPEAKER_COUNT=
ALIYUN_FUN_ASR_POLL_INTERVAL_MS=3000
ALIYUN_FUN_ASR_POLL_MAX_ATTEMPTS=90
CLASS_AUDIO_PUBLIC_BASE_URL=https://www.100waytoai.com
FASTER_WHISPER_MODEL=small
FASTER_WHISPER_DEVICE=auto
FASTER_WHISPER_COMPUTE_TYPE=auto
FASTER_WHISPER_BEAM_SIZE=5
HF_ENDPOINT=https://hf-mirror.com
HF_HUB_DISABLE_XET=1
ASR_MODEL_CACHE_DIR=/opt/100waytoai/asr-model-cache
ASR_DOCKER_NETWORK=100waytoai_webnet
ALIYUN_NLS_APPKEY=your_nls_project_appkey
ALIYUN_NLS_TOKEN=
ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=
ALIYUN_NLS_META_ENDPOINT=https://nls-meta.cn-shanghai.aliyuncs.com
ALIYUN_NLS_WS_ENDPOINT=wss://nls-gateway-cn-shanghai.aliyuncs.com/ws/v1
ALIYUN_NLS_META_REGION=cn-shanghai
ALIYUN_NLS_MAX_SENTENCE_SILENCE=800
ASR_REALTIME_SESSION_DIR=/opt/100waytoai/asr-realtime-sessions
CLASS_AUDIO_DATA_DIR=/opt/100waytoai/class-audio-records
CLASS_AUDIO_MAX_BYTES=104857600
CLASS_AUDIO_DATABASE_URL=postgres://user:password@127.0.0.1:5432/baizhi
CLASS_AUDIO_DATABASE_SSL=false
